 # See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

    # Dependencies
    /node_modules
    /.pnp
    .pnp.js
    .yarn/install-state.gz

    # Testing
    /coverage

    # Next.js build output
    /.next
    /out

    # Optional local development specific files
    .env*.local
    *.log
    npm-debug.log*
    yarn-debug.log*
    yarn-error.log*
    .idea
    .vscode/*
    !.vscode/settings.json
    !.vscode/tasks.json
    !.vscode/launch.json
    !.vscode/extensions.json
    *.iml

    # macOS
    .DS_Store
    # Thumbnails
    ._*

    # Optional tooling logs
    *.tsbuildinfo
node_modules
